.sidebar {
    display: flex;
    flex: 0.3;
    height: 100vh;
    // background-color: #36393f;

    .sidebarLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #202225;
        padding: 7px 15px;

    .serverIcon {
        width: 60px;
        height: 60px;
        background-color: #36393f;
        border-radius: 9999px;
        margin-bottom: 10px;
        position: relative;
        margin-top: 7px;
        
        img {
            position: absolute;
            width: 50px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            }
        }
    }

    .sidebarRight {
        background-color: #5c6a92;
        width: 300px;
        position: relative;
        flex-grow: 1;

        .sidebarTop {
            color: white;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 20px;
        }

        .sidebarChannels {
            padding: 13px;

            .sidebarChannelsHeader{
                display: flex;
                color: white;
                justify-content: space-between;
                align-items: center;
                margin-top: 5px;

                .sidebarHeader {
                    display: flex;
                }
                .sidebarAddIcon {
                    cursor: pointer;
                }
            }
        }

        .sidebarFooter {
            position: absolute;
            bottom: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 93%;
            padding: 10px;
            border-top: 1px solid #24272d;
            padding-top: 10px;
            margin-left: -3px;

        .sidebarAccount {
            display: flex;
            align-items: center;

            img {
                width: 60px;
            }

            .accountName {
                margin-left: 5px;

                h4 {
                    color: white;
                    font-weight: 500;
                }

                span {
                    color: #292f3e;
                }
            }
        }    
        }

        .sidebarVoice {
            display: flex;
            align-items: center;
            color:#4c4d50;
        }
    }
}