.sidebar {
    display: flex;
    flex: 0.35;
    height: 100vh;

    .sidebarLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #202225;
        padding: 7px 15px;

    .serverIcon {
        width: 60px;
        height: 60px;
        background-color: gray;
        border-radius: 9999px;
        margin-bottom: 10px;
        position: relative;
        margin-top: 7px;
        
        img {
            position: absolute;
            width: 50px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            }
        }
    }

    .sidebarRight {
        background-color: #364261;
    }
}