.chat {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #36393f;
    height: 100vh;

    .chatMassage {
        height: 100vh;
        overflow-y: scroll;
    }

    .chatInput {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
        background-color: #4b5362;
        border-radius: 5px;
        margin: 20px;
        color: lavender;

        form {
            flex-grow: 1;
            input {
                padding: 15px;
                background: transparent;
                border: none;
                outline: none;
                color: white;
                font-size: large;
                width: 100%;
            }
            .chatInputButton {
                display: none;
            }
        }
        .chatInputIcons{
            .MuiSvgIcon-root{
                padding: 5px;
            }
        }
    }
}