@charset "UTF-8";

.container {
    max-width: 100%;
}

img {
    margin: 100%;
}

/* ===== ヘッダーにボタンを配置 ===== */
.header {
    padding: 16px 0;
}
header .container {
    display: flex;
    justify-content: space-between;
}
.title-block {
    flex: 1 1 auto;
}
.hamburger {
    flex: 0 0 32px;
    align-self: center;
    margin-left: 16px;
    text-align: center;
    color: #fff;
}