.homePage {
    width: 100%;
    height: calc(100vh - 80px);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.homePage .postContents {
    width: 600px;
    height: auto;
    max-height: 600px;
    background-color: white;
    box-shadow: 8px 6px 17px 6px #777777;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
}

.postHeader h1{
    text-align: center;
    margin-top: 5px;
}

.postTextContainer .postTextContainer {
    height: auto;
    word-wrap: break-word;
    max-height: 400px;
    width: 100%;
}

.nameAndDeleteButton {
    display: flex;
    align-items: center;
}

.nameAndDeleteButton button {
    flex: 10%;
    background-color: rgb(106, 140, 140);
    color: white;
    padding: 7px 15px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

.nameAndDeleteButton button:hover {
    background-color: aqua;
    transform: translateY(5px);
    box-shadow: none;
}

.nameAndDeleteButton h3 {
    flex: 90%;
}