nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color: #cb8c54;
    gap: 45px;  
}

nav a {
    text-decoration: none;
    color: white;
    transition: all 0.4s;
}

nav a:hover {
    color: aqua;
}

nav a svg {
    margin-right: 5px;
}